$color1: #FCF9E9;
$color2: #BFA10A;
$color3: #020126;

$font1: assistant;
$font2: zingendeB;
$font3: zingendeL;

@font-face {
    font-family: assistant;
    src: url("../fonts/assistant-v4-latin-regular.woff");
}

@font-face {
    font-family: zingendeB;
    src: url("../fonts/ZingendeW00Bold.woff");
}

@font-face {
    font-family: zingendeL;
    src: url("../fonts/Zingende\ W00\ Light.ttf");
}

body {
    background-color: $color3;
    color: #fff;
    position: relative;
    overflow: scroll;
}

// .navbar-brand {
//     margin-bottom: 0;
// }

h1 {
    // margin-top: 100px;
    font-family: $font2;
    color: $color1;
}

p {
    color: $color1;
    font-family: $font1;
    font-size: 1.5em;
}

header {
    color: $color2;
    font-family: $font3;
}

#home, #about, #gallery, #movie, #shop, #contact {
    padding-top: 66px;
    width: 100vw;
    height: 100vh;
    position: relative;
    // height: calc(100vh - 56px);
}
// div:nth-child(even) {
//     background-color: $color2;
// }
// div:nth-child(odd) {
//     background-color: $color3;
//     h1{
//         color: $color1;
//     }
    
// }