@font-face {
  font-family: assistant;
  src: url("../fonts/assistant-v4-latin-regular.woff");
}

@font-face {
  font-family: zingendeB;
  src: url("../fonts/ZingendeW00Bold.woff");
}

@font-face {
  font-family: zingendeL;
  src: url("../fonts/Zingende W00 Light.ttf");
}

body {
  background-color: #020126;
  color: #fff;
  position: relative;
  overflow: scroll;
}

h1 {
  font-family: zingendeB;
  color: #FCF9E9;
}

p {
  color: #FCF9E9;
  font-family: assistant;
  font-size: 1.5em;
}

header {
  color: #BFA10A;
  font-family: zingendeL;
}

#home,
#about,
#gallery,
#movie,
#shop,
#contact {
  padding-top: 66px;
  width: 100vw;
  height: 100vh;
  position: relative;
}

nav {
  background-color: #3e3f59;
  border-bottom: 2px solid #BFA10A;
}

.navbar-toggler {
  position: relative;
  display: inline-block;
}

.navbar-nav {
  position: absolute;
  z-index: 1199;
}

@media screen and (min-width: 993px) {
  #triangle-right {
    display: none;
  }
}

#triangle-right {
  position: relative;
  top: -30px;
  left: -30px;
  margin-right: 30px;
  width: 0;
  height: 0;
  border-top: 150px solid transparent;
  border-left: 300px solid #BFA10A;
  border-bottom: 150px solid transparent;
  z-index: 1198;
}

.hide {
  visibility: hidden;
}

.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

.animated-icon span {
  background: #f3e5f5;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

/************************* styling About section***********************/
#about h1 {
  margin-bottom: 50px;
}

.image {
  width: 100%;
  height: auto;
}

.c, .cinematics, .a {
  width: 400px;
  border: 2px solid #FCF9E9;
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 100px;
  vertical-align: middle;
}

.cole, .altman {
  width: 320px;
}

.thecinematics, .cole, .altman {
  width: 420px;
  border: 2px solid #BFA10A;
  height: 450px;
}

.thecinematics {
  height: 250px;
}

.cole {
  height: 425px;
}

.altman {
  height: 425px;
}

#about p {
  font-family: assistant;
  font-size: 1em;
}

#about h2 {
  font-family: zingendeL;
  text-align: center;
}

.btn {
  background-color: transparent;
  border: 2px solid #FCF9E9;
  color: #BFA10A;
  font-family: zingendeL;
  font-size: 20px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
}

.btn:hover {
  background-color: #3e3f59;
  color: #BFA10A;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.row {
  margin-bottom: 100px;
}

.navbar-brand span {
  color: #BFA10A;
  font-size: 24px;
}
<<<<<<< HEAD
=======

/* GALLERY */
/* div.carousel-item img {
  object-fit: scale-down;
} */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23BFA10A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23BFA10A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
>>>>>>> 63d738e43f83b7da31b86d3252a60baf9366dd1a
/*# sourceMappingURL=style.css.map */